*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans" , sans-serif;
}

.debug{
    border: 1px solid red;
}

/* root */
:root {
	--color-blue-button: #0061ff;
	--color-sky-bg: #b4d0e7;
	--color-designit: #a2d39b;
	--color-florida: #0093ce;
	--color-asu: #61082b;
	--color-topps: #ff1c1c;
	--color-world-bicycle-relief: #d5001f;
	--color-lonely-planet: #0d2481;
	--color-hearts: #b4d0e7;
	--color-clear-channel: #ffd830;
	--color-contrast-text: #61092b;
}

/* flex utilities */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.between{
    justify-content: space-between;
}

.center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

/* header */
header{
    background-color: white;
}

#hd-cont{
    padding: 30px;
}


ul{
    list-style: none;
    height: 100%;
}

a{
    color: black;
    text-decoration: none;
}

.hd-cont{
    width: 35%;
}

.img{
    width: 30%;
}

.img img{
    width: 100%;
    vertical-align: middle;
}

.hd-cont nav{
    width: 68%;
    height: auto;
}
.hd-button{
    width: 30%;
    text-align: center;
    background-color: var(--color-blue-button);
}

span a{
    color: white;
    padding: 15px 45px;
    text-decoration: none;
    line-height: 50px;
}

/* main */
#jumbotron{
    background-color: var(--color-sky-bg);
}
.big-cont{
    max-width: 1200px;
    margin: auto;
}
h1{
    font-size: 5em;
}

.text{
    width: 30%;
    margin-bottom: 15px;
}

.text .button {
    text-align: center;
    background-color: var(--color-blue-button);
}

.fa-arrow-down{
    font-size: 3em;
}
.big-cont .img{
    width: 60%;
    position: relative;
    top: 60px;
}

.big-cont .img img{
    scale: 1.3;
}

/* footer */