*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans" , sans-serif;
    scroll-behavior: smooth;
}

/* root */
:root {
	--color-blue-button: #0061ff;
	--color-sky-bg: #b4d0e7;
	--color-designit: #a2d39b;
	--color-florida: #0093ce;
	--color-asu: #61082b;
	--color-topps: #ff1c1c;
	--color-world-bicycle-relief: #d5001f;
	--color-lonely-planet: #0d2481;
	--color-hearts: #b4d0e7;
	--color-clear-channel: #ffd830;
	--color-contrast-text: #61092b;
}

/* flex utilities */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.between{
    justify-content: space-between;
}

.center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

/* header */
header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#hd-cont{
    padding: 30px;
}


ul{
    list-style: none;
    height: 100%;
}

.brd-btm{
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.brd-btm:hover{
    border-bottom: 3px solid black;
}

a:not(figure a){
    display: inline-block;
    height: 50px;
    color: black;
    text-decoration: none;
}

.hd-cont{
    width: 35%;
}

 header .img{
    width: 30%;
    height: 100%;
}

header .img a img{
    height: 80%;
    margin: 5px 0;
    
}

.img img{
    width: 100%;
    vertical-align: middle;
}

.hd-cont nav{
    width: 68%;
    height: auto;
}
.hd-button{
    width: 30%;
    text-align: center;
    background-color: var(--color-blue-button);
}

.hd-button a{
    width: 100%;
}

span a:not(.plan-margin .button a){
    color: white;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
}

/* main */

/* Jumobo */
#jumbotron{
    background-color: var(--color-sky-bg);
    margin-top: 120px;
}

.big-cont{
    max-width: 1200px;
    margin: auto;
}

h1{
    font-size: 5em;
}

#jumbo-cont{
    position: relative;
    top: 60px;
}

#jumbotron .text{
    width: 30%;
    margin-bottom: 15px;
}

#jumbo-cont p{
    padding: 30px 0;
}

.button {
    text-align: center;
    background-color: var(--color-blue-button);
}

.fa-arrow-down{
    font-size: 3em;
    padding-top: 30px;
}

.big-cont .img{
    width: 68%;
}

/* plans */

#plans{
    margin-top: 190px;
}

.sm-cont{
    max-width: 900px;
    margin: 0 auto;
}

h2{
    padding: 15px 0;
}
input{
    margin: 15px;
}

.plans{
    width: 30%;
    
}

.grey-brd{
    border: 1px solid lightgrey;
}

.plan-margin{
    width: 80%;
    margin: 0 auto;
    /* font-size: 0.9em; */
}

.grey-brd p{
    border: 1px solid lightgrey;
    padding: 5px;
    text-align: center;
}

.plans i{
    padding: 4px;
}

h3{
    padding: 15px 0;
}

.price{
    font-weight: bold;
    margin: 10px 0;
}

.period{
    color: grey;
}

.plan-margin ul{
    margin: 30px 0;
}

li i{
    width: 10%;
}
li span{
    width: 88%;
    font-size: 0.8em;
}

.plan-margin .button{
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
}

.plan-margin .button a{
    display: inline-block;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 30px;
}

figure a{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.hr{
    width: 50px;
    border-bottom: 1px solid lightgrey;
    margin: 30px 0;
}

.fa-check{
    color: #0061ff;
}

/* enterprise */

#enterprise{
    margin: 45px;
}

#enterprise .text{
    width: 60%;
    padding: 30px;
}

#enterprise figure{
    font-weight: bold;
    padding: 10px 0;
}

#enterprise a{
    display: inline-block;
    width: 100%;
}

#enterprise .button{
    width: 30%;
    margin: 45px 30px;
}

/* partner */

#partner .img{
    width: 50%;
}
#partner .text{
    width: 45%;
}

#partner .button{
    display: inline-block;
    background-color: white;
    height: 60px;
    margin: 15px 0;
}

#partner a{
    color: black;
    width: 100%;
    height: 60px;
    padding: 5px 15px;
    line-height: 50px;
}

/* business */

#business{
    margin: 60px 0;
}

.card{
    width: 30%;
}


/* customers */

#customers{
    margin: 150px;
}

/* collab */

.logo-cont{
    background-color: #61082b;
    width: 33vw;
    height: 33vw;
}

.logo{
    width: 50%;
}

.logo img{
    width: 60%;
    position: relative;
    top: calc(33vw/4);
    left: calc(33vw/4);
    transform: translate(-50%, -50%);
    filter: invert(1);
    
}

#designit{
    background-color: var(--color-designit);
}

#asu{
    background-color: var(--color-asu);
}

#florida{
    background-color: var(--color-florida);
}

#topps{
    background-color: var(--color-topps);
}

#wbr{
    background-color: var(--color-world-bicycle-relief);
}

#hearst{
    background-color: var(--color-hearts);
}

#lonely-planet{
    background-color: var(--color-lonely-planet);
}

#clear-channel{
    background-color: var(--color-clear-channel);
}


#roll-text-cont{
    background-color: #eeeeee;
    width: 33vw;
    height: 33vw;
    overflow-y: scroll;
}

.quote{
    margin: 30px;
}

.quote img{
    height: 90px;
}
#roll-text{
    padding: 30px;
}

#roll-text p{
    padding: 15px;
}


/* footer */